Repository rcmdnk/homebrew-file: changes, and which pre-commit hooks are due for each by the changed paths.
All: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit, mdformat-check, mdformat

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system

autoflake-diff:
  name: autoflake-diff
  entry: autoflake
  language: system
  require_serial: true
  verbose: true

autoflake:
  name: autoflake
  entry: autoflake
  language: system
  require_serial: true
  args:
  - --in-place

autopep8-diff:
  name: autopep8-diff
  entry: autopep8
  language: system
  args:
  - --diff
  verbose: true

autopep8:
  name: autopep8
  entry: autopep8
  language: system
  args:
  - --in-place

pflake8:
  name: pflake8
  entry: pflake8
  language: system
  require_serial: true

bandit:
  name: bandit
  entry: bandit
  language: system
  args:
  - -c
  - pyproject.toml

mdformat-check:
  name: mdformat-check
  entry: mdformat
  language: system
  args:
  - --check

mdformat:
  name: mdformat
  entry: mdformat
  language: system

fix: use formula/cask.jws.json (formula.json/cask.json do not exist at the latest brew)
  bin/brew-file
  src/brew_file/brew_helper.py
  tests/test_brew_info.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

feat: support python 3.8 (do not use str.removesuffix)
  bin/brew-file
  src/brew_file/brew_file.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

fix: do not do get_tap_casks for tapall at linux test: skip cask related tests at linux
  bin/brew-file
  src/brew_file/brew_info.py
  tests/test_brew_helper.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

test: add caplog_lock (xdist parallel session seems have common caplog and sometime it makes conflict (seems one job clear the caplog while others uses it)
  tests/conftest.py
  tests/test_brew_file.py
  tests/test_brew_helper.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

test: disable test-bot for homebrew (not used)
  .github/workflows/test.yml
Due: none

test: remove pytest-benchmark (not used)
  poetry.lock
  pyproject.toml
Due: none

test: enable pre-commit for all cases, use lower cases in action
  .github/workflows/test.yml
Due: none

chore: version 9.0.0
  bin/brew-file
  pyproject.toml
  src/brew_file/info.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

chore: update formula v9.0.0
  brew-file.rb
Due: none

fix: realtime print out for such brew command
  bin/brew-file
  pyproject.toml
  src/brew_file/brew_helper.py
  src/brew_file/info.py
  tests/test_brew_helper.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

fix: realtime print out for such brew command (#151)
  bin/brew-file
  pyproject.toml
  src/brew_file/brew_helper.py
  src/brew_file/info.py
  tests/test_brew_helper.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

update formula
  brew-file.rb
Due: none

fix: do not clean cache directory at brew file update
  bin/brew-file
  pyproject.toml
  src/brew_file/brew_file.py
  src/brew_file/info.py
  src/brew_file/main.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

chore: update formula v9.0.2
  brew-file.rb
Due: none

test: fix test in test_execute_update (add delete_cache arg)
  tests/test_brew_file.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

fix: check parent logger is root logger or not
  bin/brew-file
  combine.sh
  src/brew_file/brew_file.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

feat: change initialize output from info to debug for brew_cmd, install, update
  bin/brew-file
  pyproject.toml
  src/brew_file/brew_file.py
  src/brew_file/brew_info.py
  src/brew_file/info.py
  tests/test_brew_file.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

chore: update formula v9.0.3
  brew-file.rb
Due: none

chore: update CHANGELOG.md by github_changelog_generator
  CHANGELOG.md
Due: blacken-docs, mdformat-check, mdformat

feat: check both XDG_CNFIG_HOME and ~/.config
  bin/brew-file
  combine.sh
  docs/usage.rst
  pyproject.toml
  src/brew_file/brew_file.py
  src/brew_file/info.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

chore: update formula v9.0.4
  brew-file.rb
Due: none

fix: typo
  bin/brew-file
  pyproject.toml
  src/brew_file/brew_file.py
  src/brew_file/info.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

test: fix caplog, session level fixture for xdist (parallel job) case
  tests/conftest.py
  tests/test_brew_info.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

test: check api json first
  tests/conftest.py
  tests/test_brew_helper.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

test: fix for linux
  tests/test_brew_helper.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

test: fix to delete os.environ["HOMEBREW_BREWFILE_VERBOSE"] (environ settings are propagated into other tests)
  tests/test_brew_file.py
  tests/test_brew_helper.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

test: capsys -> capfd
  tests/test_brew_helper.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

test: use unittest.mock.patch.dict to change os.environ, caplog_locked is not necessary
  tests/conftest.py
  tests/test_brew_file.py
  tests/test_brew_helper.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

fix: remove json download lines from `brew info` outputs
  bin/brew-file
  pyproject.toml
  src/brew_file/brew_file.py
  src/brew_file/brew_helper.py
  src/brew_file/brew_info.py
  src/brew_file/info.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

chore: update formula to v9.0.6, add version test
  brew-file.rb
  tests/test_version.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

fix: get_files print (#156)
  bin/brew-file
  pyproject.toml
  src/brew_file/brew_file.py
  src/brew_file/info.py
  tests/test_brew_file.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

chore: update formula to v9.0.7
  brew-file.rb
Due: none

test: call tap to assure the tap exists
  tests/test_brew_file.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

chore: update formula to v9.0.8
  brew-file.rb
Due: none

fix: use typing.Dict/List/Tuple to support aliases in python3.8
  bin/brew-file
  pyproject.toml
  src/brew_file/brew_file.py
  src/brew_file/info.py
  src/brew_file/main.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

chore: update formula to v9.0.9
  brew-file.rb
Due: none

fix: set cwd for git add -A (affects on brew file update/pull/push) (the bug was implemented at v9.0.0 (6fbe2e1))
  bin/brew-file
  pyproject.toml
  src/brew_file/brew_file.py
  src/brew_file/info.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

chore: update formula to v9.0.10
  brew-file.rb
Due: none

Path conditions:
  blacken-docs: any of: \.(rst|md|markdown|py|tex)$
  autoflake-diff: any of: \.py$
  autoflake: any of: \.py$
  autopep8-diff: any of: \.py$
  autopep8: any of: \.py$
  pflake8: any of: \.py$
  bandit: any of: \.py$
  mdformat-check: any of: \.(md|markdown|mdown)$
  mdformat: any of: \.(md|markdown|mdown)$
