Repository rcmdnk/homebrew-file: changes, and which pre-commit hooks are due for each by the changed paths.
All: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit, mdformat-check, mdformat

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black-diff
        name: black-diff
        entry: black
        language: system
        types_or:
          - python
          - pyi
        require_serial: true
        args:
          - "--diff"
          - "--color"
        verbose: true
      - id: black
        # https://github.com/psf/black
        name: black
        entry: black
        language: system
        types_or:
          - python
          - pyi
        require_serial: true
      - id: blacken-docs
        # https://github.com/asottile/blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        files: '\.(rst|md|markdown|py|tex)$'
      - id: autoflake-diff
        name: autoflake-diff
        entry: autoflake
        language: system
        types:
          - python
        require_serial: true
        verbose: true
      - id: autoflake
        # https://github.com/PyCQA/autoflake
        name: autoflake
        entry: autoflake
        language: system
        types:
          - python
        require_serial: true
        args:
          - "--in-place"
      - id: autopep8-diff
        name: autopep8-diff
        entry: autopep8
        language: system
        types:
          - python
        args:
          - "--diff"
        verbose: true
      - id: autopep8
        # https://github.com/pre-commit/mirrors-autopep8
        name: autopep8
        entry: autopep8
        language: system
        types:
          - python
        args:
          - "--in-place"
      - id: isort-diff
        name: isort-diff
        entry: isort
        language: system
        require_serial: true
        types_or:
          - cython
          - pyi
          - python
        args:
          - '--diff'
          - '--filter-files'
        verbose: true
      - id: isort
        # https://github.com/PyCQA/isort
        name: isort
        entry: isort
        language: system
        require_serial: true
        types_or:
          - cython
          - pyi
          - python
        args:
          - '--filter-files'
      - id: pflake8
        # https://github.com/csachs/pyproject-flake8
        # Use csachs' one instead of PyCQA to use options in pyproject.toml
        name: pflake8
        entry: pflake8
        language: system
        types:
          - python
        require_serial: true
      - id: mypy
        # https://github.com/pre-commit/mirrors-mypy
        name: mypy
        entry: mypy
        language: system
        types_or:
          - python
          - pyi
        require_serial: true
        pass_filenames: false
      - id: bandit
        # https://github.com/PyCQA/bandit
        name: bandit
        entry: bandit
        language: system
        types:
          - python
        args:
          - "-c"
          - "pyproject.toml"
      - id: shellcheck
        # https://github.com/shellcheck-py/shellcheck-py
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]
        require_serial: true
      - id: mdformat-check
        name: mdformat-check
        entry: mdformat
        language: system
        types: [markdown]
        args:
          - "--check"
      - id: mdformat
        name: mdformat
        entry: mdformat
        language: system
        types: [markdown]



  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-byte-order-marker
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-case-conflict
      - id: check-merge-conflict
        args:
          - "--assume-in-merge"
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: debug-statements
      - id: detect-private-key
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"

remove BrewFile.brew_val, use helper.brew_val directly
  bin/brew-file
  src/brew_file/brew_file.py
  tests/test_brew_file.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

use helper.proc directly, HOMEBREW_NO_AUTO_UPDATE=1 is set only for `brew tap`
  bin/brew-file
  src/brew_file/brew_file.py
  src/brew_file/main.py
  tests/test_brew_file.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

use Dryrun banner context manager.
  bin/brew-file
  src/brew_file/brew_file.py
  src/brew_file/brew_helper.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

warn "Need command" if only options are given
  src/brew_file/main.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

remove upper/lower modification from parse_env_opts
  bin/brew-file
  src/brew_file/brew_file.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

chore: apply formatter before combine
  combine.sh
Due: none

chore: use pyproject-pre-commit
  .pre-commit-config.yaml
  pyproject.toml
Due: none

chore: add indent to list indict in yaml
  .pre-commit-config.yaml
Due: none

chore: mypy option: install_types, non_interactive
  pyproject.toml
Due: none

chore: update workflows
  .github/workflows/test.yml
Due: none

rename workflow
  .github/workflows/dispatch.yml
Due: none

chore: exit install for debug case, update workflows
  .github/workflows/dispatch.yml
Due: none

chore: add tap to test_brew_file::test_read_all -> temporary, may need another tap which is not overlapped with test_brew_info::test_write
  tests/test_brew_file.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

docs: OS X -> macOS and Linux
  README.md
  docs/index.rst
Due: blacken-docs, mdformat-check, mdformat

fix: upgrade cask only at mac
  bin/brew-file
  src/brew_file/brew_file.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

test: fix test for ubuntu
  tests/test_brew_file.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

fix: remove HOMEBREW_NO_AUTO_UPDATE=1 for brew tap, as it was fixed at https://github.com/Homebrew/brew/pull/5766 (though the similar PR https://github.com/Homebrew/brew/pull/1439 was not merged...)
  bin/brew-file
  src/brew_file/brew_file.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

Change for API mode (default from Homebrew 4.0.0)
  bin/brew-file
  combine.sh
  src/brew_file/brew_file.py
  src/brew_file/brew_helper.py
  src/brew_file/brew_info.py
  src/brew_file/utils.py
  tests/test_brew_file.py
  tests/test_brew_helper.py
  tests/test_brew_info.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

refactor: use os.getenv instead of os.environ.get
  bin/brew-file
  src/brew_file/brew_file.py
  src/brew_file/utils.py
  tests/test_brew_info.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

fix: use os.environ["HOME"] -> str instead of os.getenv("HOME") -> str | None. getenv return None if the key does not exist, while environ[key] raises KeyError.
  bin/brew-file
  src/brew_file/brew_file.py
  src/brew_file/utils.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

refactor: remove make_pack_deps, pack_deps, which are not used
  bin/brew-file
  src/brew_file/brew_file.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

fix: typo
  bin/brew-file
  src/brew_file/brew_file.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

fix: use linked_keg as version first, take the last installed versoin next.
  bin/brew-file
  src/brew_file/brew_info.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

refactor: move get_installed, get_option from BrewInfo -> BrewHelper
  bin/brew-file
  src/brew_file/brew_file.py
  src/brew_file/brew_helper.py
  src/brew_file/brew_info.py
  tests/test_brew_helper.py
  tests/test_brew_info.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

fix: clear_list for all brew_info including ext in get_list
  bin/brew-file
  src/brew_file/brew_file.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

refactor: use cwd for Popen instead of os.chdir (better to keep the current directory for afterword)
  bin/brew-file
  src/brew_file/brew_file.py
  src/brew_file/brew_helper.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

feat: add HOMEBREW_BREWFILE_FETCH_HEAD/--fetch-HEAD option (by default, --fetch-HEAD is dropped for brew upgrade (in brew file update command)
  bin/brew-file
  docs/help.rst
  docs/settings.rst
  src/brew_file/brew_file.py
  src/brew_file/main.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

refactor: use Path.mkdir instead of os.makedirs
  bin/brew-file
  src/brew_file/brew_file.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

refactor: remove Tee, write file/logger directly (only 2 places), current Tee had a problem to write out logger with additional line break at writeln (#147)
  bin/brew-file
  src/brew_file/brew_file.py
  src/brew_file/brew_info.py
  src/brew_file/utils.py
  tests/test_brew_file.py
  tests/test_tee.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

fix: run `brew update` if formula.json or cask.json does not exist before getting info (it can happen after brew cleanup)
  bin/brew-file
  src/brew_file/brew_helper.py
  src/brew_file/brew_info.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

fix: write command Brewfile's install script path (remove unexpected space) fix: check default branch in init_repo test: add tests
  bin/brew-file
  src/brew_file/brew_file.py
  src/brew_file/brew_info.py
  src/brew_file/utils.py
  tests/test_brew_file.py
  tests/test_brew_helper.py
  tests/test_brew_info.py
  tests/test_utils.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

fix: remove --bare for check_local_repo
  bin/brew-file
  src/brew_file/brew_file.py
  tests/test_brew_file.py
  tests/test_brew_helper.py
  tests/test_brew_info.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

test: add tests
  tests/test_brew_file.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

feat: more check of AppStore apps if they are in casks, write cask (token) if exists
  bin/brew-file
  src/brew_file/brew_file.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

test: combine dispatch and test
  .github/workflows/dispatch.yml
  .github/workflows/test.yml
Due: none

feat: support python 3.8, 3.9: do not use match-case, add from __future__ import annotations
  .github/workflows/test.yml
  bin/brew-file
  docs/requirements.rst
  pyproject.toml
  src/brew_file/brew_file.py
  src/brew_file/brew_helper.py
  src/brew_file/brew_info.py
  src/brew_file/main.py
  tests/test_brew_helper.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, pflake8, bandit

test: use Setup Homebrew Github Action
  .github/workflows/test.yml
Due: none

test: fix inputs.main_branch master->main
  .github/workflows/test.yml
Due: none

add poetry.lock
  .gitignore
  poetry.lock
Due: none

test: add python-version
  .github/workflows/test.yml
Due: none
